# GitHub personal access token
# Required scopes: read:org, read:user, user:email
GITHUB_TOKEN=ghp_...

# The GitHub organisation slug to sync from
GITHUB_ORG=your-github-org

# Sentry auth token
# Required scopes: org:read, team:read, team:write, member:read
SENTRY_TOKEN=sntrys_...

# The Sentry organisation slug to sync into
SENTRY_ORG=your-sentry-org
